[
    {seppen, [{port, 21285}]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                filter_default => log,
                formatter =>
                    {logger_formatter, #{single_line => true}}
            }}
        ]}
    ]}
].
