[
    {seppen, [{port, 21285}]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                filter_default => log,
                formatter => {
                    flatlog,
                    #{
                        map_depth => 3,
                        term_depth => 50
                    }
                }
            }}
        ]}
    ]}
].
