{minimum_otp_vsn, "27.0"}.

{deps, [
    {cowboy, "2.19.0"}
]}.

{shell, [
    {apps, [seppen]},
    {config, "config/dev/sys.config"}
]}.

{relx, [
    {release, {seppen, "1.0.0"}, [seppen]},
    {mode, dev},
    {vm_args_src, "config/vm.args.src"},
    {sys_config, "config/dev/sys.config"},
    {overlay, [
        {copy, "config/dev/.hosts.erlang", ".hosts.erlang"}
    ]},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {sys_config, "config/prod/sys.config"},
            {overlay, []}
        ]}
    ]}
]}.

{plugins, [{erlfmt, "1.8.0"}]}.

{erlfmt, [
    {files, ["rebar.config", "config/*/sys.config", "{src,include,test}/*.{hrl,erl}"]}
]}.
