[
    {seppen, [{port, 21285}]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                filter_default => stop,
                filters => [
                    {domain_filter, {fun logger_filters:domain/2, {log, equal, [seppen]}}}
                ],
                formatter =>
                    {logger_formatter, #{
                        single_line => true,
                        template => [pid, " ", mfa, " - ", msg, "\n"]
                    }}
            }}
        ]}
    ]}
].
